<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Type</th>
            <th>Room</th>
            <th>Provider</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                <input type="text" value="Dell" class="form-control">
            </td>
            <td>
                <input type="text" value="laptop" class="form-control">
            </td>
            <td>
                <input type="text" value="Storage" class="form-control">
            </td>
            <td>
                <input type="text" value="Barócsi Benjámin" class="form-control">
            </td>
      </tr>
    </tbody>
</table>